<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();">+ Add</button>
         </div>

         <div class="data-table">

            <h2>Objective : <%= data[0].obj_obj_name%><h2>
            <h4>grade score : <%= avg%> %</h4>
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>key results</th>
                    <th>score</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < (data.length);i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].key_name%></td>
                    <td><%=data[i].key_score%></td>
                    <td>
                        <a class="a-inside edit" href="../okr/edit/<%=data[i].key_id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../okr/delete/<%=data[i].key_id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
